header, main, footer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 25px;
  margin-bottom: 20px;
}

header section {
  display: inline-block;
}

main {
  border-top: 10px solid lightgray;
  border-bottom: 10px solid lightgray;
  padding-top: 40px;
  padding-bottom: 30px;
}

h1 {
  font-size: 40px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
}

main section button {
  position: absolute;
  right: 15%;
  color: gray;
  border: none;
}

#hero {
  width: 100%;
  padding-top: 20px;
}

header section h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 32px;
}

header section p {
  font-size: 12px;
  font-family: 'Barlow Condensed', sans-serif;
  color: darkgray
}

#icons {
  position: absolute;
  right: 15%;
  line-height: 75px;
}

main section p {
  font-size: 14px;
  font-family: 'Barlow Condensed', sans-serif;
  color: lightgray;
}

.recipe {
  font-size: 18px;
  color: rgb(102, 100, 100);
  text-indent: 30px;
  margin: 30px 0;
  line-height: 1.3;
}

ul {
  display: inline-block;
}

.ingredients {
  position: relative;
  text-align: left;
}

#left-list {
  position: absolute;
  top: 38px;
  left: 75px;
  line-height: 155%;
  font-size: 20px;
  font-family: 'M PLUS 1p', sans-serif;
}

#right-list {
  position: absolute;
  top: 38px;
  left: 460px;
  line-height: 155%;
  font-size: 20px;
  font-family: 'M PLUS 1p', sans-serif;
}

footer {
  margin-top: 20px;
}

footer section {
  display: inline-block;
  margin-bottom: 75px;
  width: 550px;
  font-size: 18px;
  color: rgb(102, 100, 100);
}

footer section h3 {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
}

footer button {
  position: absolute;
  right: 15%;
  padding: 12px 45px;
  border: none;
  background-color: rgb(223, 130, 102);
  color: white;
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
}

footer section:last-child {
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#small-logo {
  margin-bottom: 30px;
}